/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2016, 11:35:36 AM
    Author     : gmlan
*/

form{
    width:98%;
}

fieldset{
    margin-left:50px;
}

div.search{
    padding: 30px 0 60px 0;
    margin: 0 auto;
    width:600px; 	
}

div.search input{
    width:500px;    
    padding: 0.4em;    
    color: black;
    font-size: 1.1em;       
    outline: none;
}


div.search div{
    background-color:#4285f4;
    display:inline-block;
    padding:3px 6px;
    position:relative;
    top: 10px;
    left:-4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 	
}

div.search div span{
    background: url(../images/nav_logo242.png) no-repeat -107px -55px;
    color: transparent;
    display: inline-block;
    height: 25px;
    width: 24px;
    margin: 3px auto;
}

div.search div.loader{
    background-color:#fff;
    position: relative;
    left:-75px;
    top:-2px;
}

div.category {
    text-align: center;
    border: none;
}

div.category img{
    width:96px;
    height:136px;
}

div.categoryitem{
    float: left;
    width: 200px;
    padding: 10px;
}
div.categoryitem div.description{
    font-weight: bolder;
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.logo{
    float:left;
    width:40px;
    height:40px;
    margin:5px 0px 5px 10px;
}

.navbar-brand{
    font-size: 24px;
}
